# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/
*.apk

# Development
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Android
android/app/build/
android/app/release/
android/build/
android/.gradle/
android/gradle/
android/gradlew
android/gradlew.bat
android/local.properties
*.iml
.gradle

# iOS
ios/App/build/
ios/App/Pods/
*.xcworkspace
*.xcuserdata

# Capacitor
.capacitor/
android/capacitor-cordova-android-plugins/

# System
Thumbs.db
releases/
test-data-import.json
